/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker
 *= require_self

 */

:root {
    --blue-color: #0494fe;
    --white-color: white;
    --black-color: black;
    --grey-color: grey;
    --mild-grey-color: #f3f2ef;
}

.navbar {
    background-color: var(--blue-color)
}

.navbar-brand {
    color: var(--white-color)
}

.navbar-brand:hover {
    color: var(--black-color);
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.select {
    width: 1110px;
    background-color: var(--white-color);
}

.error-message {
    display: none;
    color: red;
    font-size: smaller;
}

.show-class {
    display: flex;
    justify-content: center;
}

.profile-card .card-img-block {
    width: 100%;
    height: 200px;
    overflow: hidden;
    float: left;
}

.embed-responsive {
    height: 150px;
    float: center;
}

.profile-card .card-body {
    position: relative;
}

.profile-card .profile {
    border-radius: 90%;
    position: absolute;
    top: -60px;
    left: 12%;
    max-width: 100px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.profile-card h5 {
    font-weight: bold;
    color: var(--black-color);
    font-size: 25px;
}

.profile-card .card-text {
    font-size: 20px;
    font-weight: 35px;
}

.profile-card {
    margin-bottom: 20px;
}

.card-title {
    margin-top: -6px;
    font-weight: 35px;
    color: var(--black-color);
}

.experinece-card {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* .card-content {
    margin-left: 80px;
} */

.role-name {
    font-size: 20px;
    font-weight: bold;
}

.grey-class {
    color: var(--grey-color);
}

.card-content p {
    margin: 0;
}

.card-content .img-exp {
    margin-bottom: -90px;
    left: -80%;
    max-width: 10%;
}

.data {
    margin-top: 20px;
    margin-left: 100px;
    /* top: -40px; */
    bottom: -20px;
}

.index-class {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.employee-content .profile {
    max-width: 8%;
    margin-bottom: -90px;
    border-radius: 50%;
    margin-right: 15px;
    left: 12%;
    transform: translate(20%, 0%);
}

.employee-content .employee-data {
    margin-left: 100px;
}

.employee-data .emp-name {
    font-weight: bold;
    color: var(--black-color);
}

.emp-name:hover {
    color: blue;
}

.employee-content p {
    margin: 0;
}

.add-emp-btn {
    display: flex;
    margin-left: 73%;
    margin-bottom: 10px;
}

.black-heading {
    color: var(--black-color);
    font-weight: bold;
}

.email-img {
    width: 6%;
}

.modal-backdrop {
    display: none;
    opacity: 0 !important;
}

.form-heading {
    font-size: 20px;
    font-weight: bold;
}

.card {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.spacing-class {
    margin-top: 40px;
    margin-bottom: 40px
}

.icon-edit {
    margin-bottom: -20px;
    margin-left: 95%;
    max-width: 8%;
}

.icon-edit:hover {
    color: var(--grey-color);
    border-radius: 20%;
}


/* .plus-icon {
    overflow: hidden;
    max-width: 100%;
} */

.fa-pencil-alt {
    color: black;
}

.modal-footer .save-btn {
    border-radius: 50px;
}

.plus-icon {
    margin-left: 630px;
}

.plus-icon:hover,
.plus-iconexp:hover {
    color: var(--grey-color);
    border-radius: 20%;
}

.plus-iconexp {
    margin-left: 620px;
}

.fa-plus-circle {
    color: black;
}

.modal-footer .close-btn {
    right: -30px;
    border-radius: 50px;
}