/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker
 *= require_self

 */

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.select {
    width: 1110px;
    background-color: white;
}

.error-message {
    display: none;
    color: red;
    font-size: smaller;
}

.show-class {
    display: flex;
    justify-content: center;
}

.profile-card .card-img-block {
    width: 100%;
    height: 200px;
    overflow: hidden;
    float: left;
}

.embed-responsive {
    height: 150px;
    float: center;
}

.profile-card .card-body {
    position: relative;
}

.profile-card .profile {
    border-radius: 90%;
    position: absolute;
    top: -60px;
    left: 12%;
    max-width: 100px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.profile-card h5 {
    font-weight: bold;
    color: black;
    font-size: 35px;
}

.profile-card .card-text {
    font-size: 20px;
    font-weight: 35px;
}

.profile-card {
    margin-bottom: 20px;
}

.card-title {
    font-weight: 35px;
    color: black;
}

.experinece-card {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-content {
    margin-left: 80px;
}

.role-name {
    font-size: 20px;
    font-weight: bold;
}

.grey-class {
    color: grey;
}

.card-content p {
    margin: 0;
}